USE [master]
GO
/****** Object:  Database [RemontRequest]    Script Date: 11.06.2024 21:54:54 ******/
CREATE DATABASE [RemontRequest]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'RemontRequest', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLE\MSSQL\DATA\RemontRequest.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'RemontRequest_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLE\MSSQL\DATA\RemontRequest_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [RemontRequest].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [RemontRequest]
GO
/****** Object:  Table [dbo].[FixRequest]    Script Date: 11.06.2024 21:54:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FixRequest](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[StartDate] [date] NOT NULL,
	[TechTypeId] [bigint] NOT NULL,
	[ModelName] [nvarchar](50) NOT NULL,
	[ProblemDescription] [nvarchar](500) NOT NULL,
	[RequestStatusId] [bigint] NOT NULL,
	[CompletionDate] [date] NULL,
	[RepairParts] [nvarchar](50) NULL,
	[MasterId] [bigint] NULL,
	[ClientId] [bigint] NOT NULL,
 CONSTRAINT [PK_FixRequest] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RequestStatus]    Script Date: 11.06.2024 21:54:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RequestStatus](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_RequestStatus] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TechTypeId]    Script Date: 11.06.2024 21:54:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TechTypeId](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_TechTypeId] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 11.06.2024 21:54:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[SecondName] [nvarchar](50) NOT NULL,
	[ThirdName] [nvarchar](50) NOT NULL,
	[PhoneNumber] [nvarchar](50) NOT NULL,
	[Login] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[RoleId] [bigint] NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRole]    Script Date: 11.06.2024 21:54:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRole](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_UserRole] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[FixRequest]  WITH CHECK ADD  CONSTRAINT [FK_FixRequest_RequestStatus] FOREIGN KEY([RequestStatusId])
REFERENCES [dbo].[RequestStatus] ([Id])
GO
ALTER TABLE [dbo].[FixRequest] CHECK CONSTRAINT [FK_FixRequest_RequestStatus]
GO
ALTER TABLE [dbo].[FixRequest]  WITH CHECK ADD  CONSTRAINT [FK_FixRequest_TechTypeId] FOREIGN KEY([TechTypeId])
REFERENCES [dbo].[TechTypeId] ([Id])
GO
ALTER TABLE [dbo].[FixRequest] CHECK CONSTRAINT [FK_FixRequest_TechTypeId]
GO
ALTER TABLE [dbo].[FixRequest]  WITH CHECK ADD  CONSTRAINT [FK_FixRequest_User] FOREIGN KEY([ClientId])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[FixRequest] CHECK CONSTRAINT [FK_FixRequest_User]
GO
ALTER TABLE [dbo].[FixRequest]  WITH CHECK ADD  CONSTRAINT [FK_FixRequest_User1] FOREIGN KEY([MasterId])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[FixRequest] CHECK CONSTRAINT [FK_FixRequest_User1]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_UserRole] FOREIGN KEY([RoleId])
REFERENCES [dbo].[UserRole] ([Id])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_UserRole]
GO
USE [master]
GO
